
.form-container{
  position: relative;
  width: 400px;
  margin: 5% auto;
  border: 1px solid darkslateblue;
  padding: 13% 10% 10%;
  box-shadow: 0 0 10px 0px black;

  .form-error {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 3%;
    text-align: center;
    color: tomato;
  }
}
