/********* Variables *******/
$primary-color:#262E51;
$secondary-color: lightcyan;
$accent-color:#D2386A;

html{
    position: relative;
    min-height: 100%;
}
.header{
    position: sticky;
    z-index:1;
    top:0;
    background-color: $primary-color;
    display: flex;


    &_logo {
        padding: 18px;
        margin: 0 auto;
        font-family: 'Cherry Cream Soda', cursive;
        font-size: 32px;
        a{
            text-decoration: none;
            color: $secondary-color;
            &:hover{
                color:$accent-color;
            }
        }

    }
    &_list{
        display: flex;
        justify-content: space-between;
    }
}
@media only screen and (max-width: 768px) {
   .header_logo {
        font-size: 20px;
    }
  }
