/********* Variables *******/
$primary-color:#24305E;
$accent-color:#F76C6C;

.header{
    position: sticky;
    z-index:1;
    top:0;
    background-color: $primary-color;
    display: flex;
    -moz-box-shadow:    1px 1px 15px black;
    -webkit-box-shadow: 1px 1px 15px black;
    box-shadow:         1px 1px 15px black;

    &_logo {
        color: $accent-color;
        padding: 18px;
        margin: 0 auto;
        font-family: 'Cherry Cream Soda', cursive;
        font-size: 32px;
        a{
            text-decoration: none;
            color:$accent-color
        }

    }
    &_list{
        display: flex;
        justify-content: space-between;
    }
}