* {
    margin: 0;
    padding: 0;
}
.welcome-page{
    min-height: 140vh;
    .footer{
        position: absolute;
        bottom: 0;
    }
    @media only screen and (max-width: 768px) {
        min-height: 100vh;
    }

}
#wrapper {
    width: 100%;
    background: lightcyan;
    
    .welcome{
    &_text{
        text-align: center;
        margin: 40px 0;
        color:#262E51;
        font-size: 22px;
        }
    &_buttons{
        justify-content: space-around;
        display: flex;

        .login, .signup{
            font-size: 22px;
            padding: 20px;
            border: 1px solid lightcyan;
            color: lightcyan;
            background-color: #262E51;
            cursor: pointer;
            text-decoration: none;
            margin-top: 3%;
            font-weight: normal;
        
            &:active,
            &:hover{
              color: #262E51;
              background-color: lightcyan;
              border: 1px solid #262E51;

            }
          }

        a{
                font-weight: 700;

            &:hover{
                border: 2px solid #262E51;
                color: #262E51;
                background-color: lightcyan;

            }
        }
    }
}
}
#svg_container {
    width: calc(100vh - 120px);
    height: calc(100vh - 240px);
    margin: 0 auto;
    padding-top: 20px;
}
@font-face {
    font-family: sofia3;
    src: url(https://assets.pixlee.com/pixlee_fonts/sofia_regular.otf);
}
.sofia3 {
    font-family: sofia3, sans-serif;
}
#button {
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 13px 15px 12px 15px;
    text-align: center;
    color: #373C5E;
    font-weight: bold;
    font-family: sofia3, sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    width: 100px;
    background: #d43469;
    background: -moz-linear-gradient(45deg,#d43469 0%,#ed5582 100%);
    background: -webkit-linear-gradient(45deg,#d43469 0%,#ed5582 100%);
    background: linear-gradient(45deg,#d43469 0%,#ed5582 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d43469',endColorstr='#ed5582',GradientType=1);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    cursor: pointer;
    transition: all 0.25s ease;
}

#Layer_2.active {
    animation-duration: 50s;
    -webkit-animation-duration: 50s;
    -moz-animation-duration: 50s;
    animation-name: spin_backward;
    -webkit-animation-name: spin_backward;
    -moz-animation-name: spin_backward;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    transform-origin: center center;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
}
#Layer_3.active {
    animation-duration: 40s;
    -webkit-animation-duration: 40s;
    -moz-animation-duration: 40s;
    animation-name: spin_forward;
    -webkit-animation-name: spin_forward;
    -moz-animation-name: spin_forward;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    transform-origin: center center;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
}
#Layer_4.active {
    animation-duration: 20s;
    -webkit-animation-duration: 20s;
    -moz-animation-duration: 20s;
    animation-name: spin_backward;
    -webkit-animation-name: spin_backward;
    -moz-animation-name: spin_backward;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    transform-origin: center center;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
}
@keyframes spin_forward {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
   }
}
@-webkit-keyframes spin_forward {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
   }
}
@-moz-keyframes spin_forward {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
   }
}
@keyframes spin_backward {
    from {
        transform: rotate(360deg);
   }
    to {
        transform: rotate(0deg);
   }
}
@-webkit-keyframes spin_backward {
    from {
        transform: rotate(360deg);
   }
    to {
        transform: rotate(0deg);
   }
}
@-moz-keyframes spin_backward {
    from {
        transform: rotate(360deg);
   }
    to {
        transform: rotate(0deg);
   }
}

@media only screen and (max-width: 768px) {

#svg_container {
    width: calc(100vh - 240px);
    height: calc(100vh - 240px);
}
#wrapper{
    min-height: 110vh;
    .welcome_text{
        font-size: 16px;
    }
}

}