/********* Variables *******/
$primary-color:#262E51;
$secondary-color: lightcyan;
$accent-color:#D2386A;


.footer{
    z-index:1;
    background-color: $primary-color;
    display: flex;
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    bottom: 0;

    a,span{
        text-decoration: none;
        color: lightcyan;
        font-weight: 600;
        margin: 15px 20px;
    }
    
    &_content{
        width: 100%;
        display: flex;
        justify-content: space-between;

  
    }
    a:hover{
        color: $accent-color
    }
    &_list{
        display: flex;
        justify-content: space-between;
    }
}
@media only screen and (max-width: 768px) {
    .footer {
        .powered{
         font-size: 12px;
         text-align: right;
        }
     }
   }