.skill-container,
.interest-container{
    background-color: white;
    width: 50%;
    margin: 5% auto;
    height: 200px;
}

    .hidden{
        display: none;
    }
    .block{
        display: block;
    }

.match{
    border: 1px solid #D2386A;
}